[submodule "Heuristic"]
	path = Heuristic
	url = https://github.com/cceryl/Heuristic
[submodule "PPO"]
	path = PPO
	url = https://github.com/cceryl/PPO
[submodule "Ecommerce"]
	path = Ecommerce
	url = https://github.com/cceryl/Ecommerce
